[submodule "sentiment_image_analysis/keras-resnet"]
	path = dependencies/resnet
	url = git@github.com:ktran9891/keras-resnet.git
[submodule "dependencies/dragonfly"]
	path = dependencies/dragonfly_repo
	url = git@github.com:dragonfly/dragonfly.git
